CompileFlags:
  CompilationDatabase: None
  Add:
    - -std=c++17

---
If:
  PathMatch: ^[^/]+$
CompileFlags:
  Add:
    - -Ipanda3d/include

---
If:
  PathMatch: ^[^/]+/.*
CompileFlags:
  Add:
    - -I../panda3d/include
